config global 'global'
    option enable '0'
    option drop_anonymous '0'

config rule 'drop'
    option name 'drop_all'
    option action 'DROP'

config rule 'accept'
    option name 'accept_all'
    option action 'ACCEPT'

config rule 'drop_web'
    option name 'policy_drop_web'
    option action 'POLICY_DROP'
    list apps '8057'
    list apps '8001'
    list apps '8002'

config rule 'drop_game'
    option name 'policy_drop_game'
    option action 'POLICY_DROP'
    list apps '2001'
    list apps '2002'
    list apps '2003'

config group 'test'
    option name 'group_test'
    option default_rule 'drop'
    list macs 'ec:3d:fd:fe:61:0e'

config schedule
    option group 'test'
    option week '6'
    option begin '17:00:00'
    option end '19:00:00'
    option rule 'accept'

config schedule
    option group 'test'
    option week '6'
    option begin '19:00:01'
    option end '20:00:00'
    option rule 'drop_web'