config global 'global'
    option enable '0'
    option drop_anonymous '0'
    option auto_update '0'
    option update_time '04:00:00'
    option update_url 'http://192.168.99.211/test.txt'
    option enable_app '0'
    list src_dev 'br-lan'
    list src_dev 'br-guest'

config rule 'drop'
    option name 'drop_all'
    option action 'DROP'
    option color '#02b6d2'
    option preset '1'

config rule 'accept'
    option name 'accept_all'
    option action 'ACCEPT'
    option color '#869cf9'
    option preset '1'

