config global 'global'
    option enable '0'
    option drop_anonymous '0'
    option auto_update '0'

config rule 'drop'
    option name 'drop_all'
    option action 'DROP'
    option color '#02b6d2'

config rule 'accept'
    option name 'accept_all'
    option action 'ACCEPT'
    option color '#869cf9'


config rule 'drop_game'
    option name 'policy_drop_game'
    option action 'POLICY_DROP'
    list apps '2001'
    list apps '2002'
    list apps '2003'
    option color '#d655ab'

config group 'test'
    option name 'group_test'
    option default_rule 'drop'
    list macs 'ec:3d:fd:fe:61:0e'

config schedule
    option group 'test'
    list week '1'
    option begin '17:00:00'
    option end '19:00:00'
    option rule 'drop_game'
